<div class="comment" id="<%= comment.id %>">
  <p class="commenter">
    <%= comment.commenter %> says:
  </p>

  <p class="comment-body">
    <%= comment.body %>
  </p>

  <p class="time-posted">
    Posted: <%= comment.created_at.strftime("%l:%M%P on %B %C, %Y") %>
  </p>

  <p class="comment-links">
    <%= link_to 'Delete Comment', [comment.article, comment], class: "delete-comment" %>
  </p>
</div>