<div class="main-content">
  <div class="article" id="<%= article.id %>">
    <h2 class="article-title">
      <%= article.title %>
    </h2>

    <p class="article-text">
      <%= markdown(article.text) %>
    </p>
    <p class="time-posted">
      Posted: <%= article.created_at.strftime("%l:%M%P on %B %C, %Y") %>
    </p>
    <p class="updated-at">
      Updated: <%= article.updated_at.strftime("%l:%M%P on %B %C, %Y") %>
    </p>
  </div>


  <div class="comment-list" id="comment-list">
    <h2>Comments</h2>
    <% article.comments.each do |comment| %>
    <%= render comment %>
    <% end %>
  </div>

  <%= render 'comments/form' %>
</div>