<div class='article-form'>
  <%= form_for @article do |f| %>

  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2 class="error-warning">
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li class="error-message"><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p class="article-form-title">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p class="article-form-text">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p class="article-form-submit">
    <%= f.submit %>
  </p>

  <% end %>

</div>