<div class="container">
  <%= render 'welcome/nav' %>

  <header>
  <h1>Never Finished</h1>
  <h2>Articles by Matt Villwock</h2>
  <%= link_to 'Make a new article', new_article_path %>
  </header>

  <div class="article-list">
    <% unless @articles.nil? %>
    <% @articles.each do |article| %>
    <div class="article">
      <p class="article-title">
        <%= article.title %>
      </p>
      <p class="article-text">
        <%= article.text %>
      </p>
      <ul class="article-links">
        <li class="show-article"><%= link_to 'Show', article_path(article) %></li>
        <li class="edit-article"><%= link_to 'Edit', edit_article_path(article) %></li>
        <li class="delete-article"><%= link_to 'Delete', article_path(article),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?'} %></li>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>

  <%= render 'welcome/nav' %>
  <div class="hr"></div>
</div>