<div class="container">
  <%= render 'welcome/nav' %>

  <header class="header">
    <%= link_to '/' do %>
    <h1>Never Finished</h1>
    <% end %>
    <h2>Matt Villwock | Software Developer</h2>
    <div class="article-nav-links">
      <li class="view-articles">
        <%= link_to 'Back to articles', articles_path %>
      </li>
    </div>
  </header>

  <div class="hr"></div>
  <h2 class="new-article-header">New Article</h2>
  <%= render 'form' %>

  <div class="hr"></div>
  <%= render 'welcome/nav' %>
  <div class="hr"></div>
</div>