<div class="container">
  <%= render 'welcome/nav' %>

  <div class="article">
    <p class="article-title">
      <strong>Title:</strong>
      <%= @article.title %>
    </p>

    <p class="article-text">
      <strong>Text:</strong>
      <%= @article.text %>
    </p>
  </div>

  <div class="hr"></div>

  <div class="comment-list">
    <h2>Comments</h2>
    <% @article.comments.each do |comment| %>
    <%= render comment %>
    <% end %>
  </div>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to 'Edit', edit_article_path(@article) %>
  <br><br>
  <%= link_to 'Back to articles', articles_path %>

  <%= render 'welcome/nav' %>
  <div class="hr"></div>
</div>