<div class="container">
  <%= render 'welcome/nav' %>
  <%= render 'welcome/header' %>

    <div class="article-nav-links">
      <li class="edit-article"><%= link_to 'Edit article', edit_article_path(@article) %>
      </li>
      <li class="view-articles">
        <%= link_to 'Back to articles', articles_path %>
      </li>
    </div>
  </header>
  <%= render partial: 'article', locals: { article: @article } %>
</div>