<div class="container">
  <%= render 'welcome/nav' %>

  <header class="header">
    <%= link_to '/' do %>
    <h1>Never Finished</h1>
    <% end %>
    <h2>Matt Villwock | Software Developer</h2>

    <div class="article-nav-links">
      <li class="edit-article"><%= link_to 'Edit article', edit_article_path(@article) %>
      </li>
      <li class="view-articles">
        <%= link_to 'Back to articles', articles_path %>
      </li>
    </div>
  </header>

  <div class="hr" id="summary"></div>

  <div class="main-content">
    <div class="article">
      <p class="article-title">
        <strong>Title:</strong>
        <%= @article.title %>
      </p>

      <p class="article-text">
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
    </div>


    <div class="comment-list">
      <h2>Comments</h2>
      <% @article.comments.each do |comment| %>
      <%= render comment %>
      <% end %>
    </div>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>

  <div class="hr"></div>
  <%= render 'welcome/nav' %>
  <div class="hr"></div>
</div>