<nav>
  <div class="col-xs-6">
    <ul class="nav-items">
      <li><%= link_to 'Blog', controller: 'articles' %></li>
      <li><%= link_to 'About', controller: 'welcome', anchor: 'splash' %></li>
      <li><%= link_to 'Projects', anchor: 'projects' %></li>
      <!-- change projects_path once they are set up on their own pages -->
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="contact-icons">
      <%= link_to "mailto:" + ENV["ADMIN_EMAIL"] do %>
      <%= image_tag("Communication-email-icon.png", :alt => "email icon") %>
      <% end %>
      <%= link_to 'https://twitter.com/mtvillwock', target: "_blank" do %>
      <%= image_tag('Twitter_logo_blue.png', :alt => "Twitter") %>
      <% end %>
      <%= link_to 'https://linkedin.com/in/matthewvillwock', target: "_blank" do %>
      <%= image_tag('linkedin-icon-logo-vector.png', :alt => "LinkedIn") %>
      <% end %>
      <%= link_to 'https://github.com/mtvillwock', target: "_blank" do %>
      <%= image_tag('GitHub-Mark-120px-plus.png', :alt => "GitHub") %>
      <% end %>
    </ul>
  </div>
</nav>
