<!-- synopsis of projects -->
<section id="projects">
  <!-- first project -->
      <div class="gallery">
          <div class="gallery-header">
            <h3>Hummingbird (February)</h3>
            <p>Schedule texts when you think of them. Deliver them when the time is right.</p>
          </div>
          <div class="gallery-image col-xs-12">
            <%= link_to 'https://github.com/jeremymcintyre/hummingbird', :class => "image", target: "_blank" do %>
            <%= image_tag('hummingbird-demo.jpg', :class => "image", :alt => "hummingbird") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>
      </div>
      <!-- second project -->
      <div class="gallery">
          <div class="gallery-header">
            <%= link_to 'https://github.com/mtvillwock/rateflix', target: "_blank" do %>
            <h3>RateFlix (May)</h3>
            <% end %>
            <p>Find movies and review them. Sort by title, genre, and release date.</p>
          </div>
          <div class="gallery-image col-xs-12"><%= link_to 'https:/github.com/mtvillwock/messagev', target: "_blank" do %>
            <%= image_tag('#', :class => "image", :alt => "RateFlix") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>
      </div>
      <!-- third project -->
      <div class="gallery">
          <div class="gallery-header">
            <%= link_to 'https://github.com/mtvillwock/hotel_concierge_locker_system', target: "_blank" do %>
            <h3>Hotel Concierge Locker System (April)</h3>
            <% end %>
            <p>Track bags stored in lockers and retrieve them by redeeming tickets.</p>
          </div>
          <div class="gallery-image col-xs-12"><%= link_to 'https:/github.com/mtvillwock/hotel_concierge_locker_system', target: "_blank" do %>
            <%= image_tag("hotel-concierge-locker-system.jpg", :class => "image", :alt => "pending") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>
      </div>
      <!-- 4th project -->
      <div class="gallery">
          <div class="gallery-header">
            <h3>Stack Overflow Clone (February)</h3>
            <p>Ruby on Rails CRUD app built to mimic the functionality of Stack Overflow. Utilizes AJAX and form partials to facilitate smoother user experience.</p>
          </div>
          <div class="gallery-image col-xs-12"><%= link_to 'https://mtvillwock-stack-overflow.herokuapp.com', :class => "image", target: "_blank" do %>
            <%= image_tag('dbc-overflow.jpg', :alt => "stack overflow clone") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>
      </div>
      <!-- 5th project -->
      <div class="gallery">
          <div class="gallery-header">
            <h3>This Site (March)</h3>
            <p>Personal website and blogging platform. Built with Rails, SCSS, and love.</p>
          </div>
          <div class="gallery-image col-xs-12"><%= link_to '/', :class => "image", target: "_blank" do %>
            <%= image_tag('Villwock_ODM.png', :alt => "this site") %>
            <% end %>
          </div>
          <div class="gallery-details col-xs-12">
            <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
          </div>
      </div>
      <!-- end projects here -->
    </section>