<div class="container">
  <%= render 'nav' %>

  <header class="header">
    <%= link_to '/' do %>
    <h1>Never Finished</h1>
    <% end %>
    <h2>Matt Villwock | Software Developer</h2>
  </header>

  <div class="hr" id="summary"></div>

  <div class="summary">
    <h3>About Me</h3>
    <p>Hi, my name is Matt. I'm a web developer, and a recent graduate of <a href="http://devbootcamp.com/">Dev Bootcamp</a>. I came to web development after getting a taste of it in digital marketing and getting hooked on building things.</p>
    <p>This is my personal website and blog, built using the <a href="https://github.com/rails/rails">Ruby on Rails</a> web framework. Listed below are my projects, along with links to contact me.</p>
    <p>I love building things, working in teams, and solving problems.</p>
  </div>

  <div class="hr" id="project-list"></div>

  <div class="project-list">
    <div class="project">
      <div class="hummingbird-image">
        <%= link_to 'https://github.com/jeremymcintyre/hummingbird' do %>
        <%= image_tag('hummingbird-small.png', :alt => "hummingbird") %>
        <% end %>
      </div>
      <div class="project-description">
        <h3>Hummingbird</h3>
        <p>Hummingbird was my final project at Dev Bootcamp. </p>
        <p>The app allows users to schedule text messages to be delivered at a more optimal time. </p>
        <p>Our team built the app in seven days, using a Ruby on Rails API for the back-end and an <a href="http://ionicframework.com/">Ionic</a>/<a href="https://angularjs.org/">Angular.js</a> front-end.</p>
      </div>
    </div>

    <div class="hr"></div>

    <div class="project">
      <div class="maps-image">
        <%= link_to 'https:/github.com/mtvillwock/maps-with-friends' do %>
        <%= image_tag('maps-with-friends.jpg') %>
        <% end %>
      </div>
      <div class="project-description">
        <h3>Maps with Friends</h3>
        <p>Maps With Friends is a side project I am working on during my job search after graduating from Dev Bootcamp. </p>
        <p>A conversation with a friend from high school gave me the idea to build something that would allow me to visualize the diverse locations where my friends had scattered across the country. </p>
        <p>Technologies used include <a href="http://www.sinatrarb.com/">Sinatra</a>, JavaScript, and the <a href="https://developers.google.com/maps/documentation/javascript/">Google Maps API</a>.</p>
      </div>
    </div>

    <div class="hr"></div>

    <div class="project">
      <div class="project-image">
        <%= link_to '#' do %>
        <%= image_tag("geocode.jpg") %>
        <% end %>
      </div>
      <div class="project-description">
        <h3>Project To Be</h3>
        <p>What can I help you build?</p>
      </div>
    </div>
  </div>

  <div class="hr"></div>

  <%= render 'nav' %>

  <div class="hr"></div>
</div>

