<div class="container">
<%= render 'nav' %>
<div class="hr"></div>
<!-- Tear down, rebuild one thing at a time w CSS to see what's doing what -->
  <section id="splash">
    <div class='header'>
      <%= link_to '/' do %><h1>Matt Villwock</h1><% end %>
      <h2>Web Developer</h2>
    </div>
    <div class="intro">
      <p>Hi, I'm Matt, a web developer who loves learning every day and building meaningful things with other people.</p>
      <p>What dream can I help you build?</p>
    </div>
  </section>

  <div class="hr"></div>

  <section id="projects">
    <!-- DRY this up later with React or Angular -->
    <!-- synopsis of projects -->
    <div class="gallery">
      <div class="gallery details">
        <h3>Projects</h3>
        <p>I build web apps and APIs, primarily using Ruby on Rails and Postgres. I think SCSS is brilliant and that concise, semantic HTML and CSS is beautiful.</p>
        <p>I'm always looking for new tech to learn. Next on my agenda is Node.js, React, and NoSQL databases.</p>
      </div>
    </div>

    <!-- first project -->
    <div class="gallery">
      <ul>
        <li>
          <h3>Hummingbird</h3>
          <p>texts delivered when you want.</p>
          <p>Description of project, role, who the work was for, technologies used, date worked on/finished.</p>
        </li>
        <li><%= link_to 'https://github.com/jeremymcintyre/hummingbird', :class => "image", target: "_blank" do %>
          <%= image_tag('hummingbird-demo.jpg', :class => "image", :alt => "hummingbird") %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- second project -->
    <div class="gallery">
      <ul>
        <li>
          <h3>MessageV</h3>
          <p>Send a message to any mobile phone in the USA.</p>
        </li>
        <li><%= link_to 'https:/github.com/mtvillwock/messagev', target: "_blank" do %>
          <%= image_tag('messagev.jpg', :class => "image", :alt => "MessageV") %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- third project -->
    <div class="gallery">
      <ul>
        <li>
          <%= link_to 'https://hotel-locker-system.herokuapp.com', target: "_blank" do %>
          <h3>Hotel Concierge Locker System</h3>
          <% end %>
          <p>Track bags stored in lockers and retrieve them by redeeming tickets.</p>
        </li>
        <li><%= link_to 'https:/github.com/mtvillwock/hotel_concierge_locker_system', target: "_blank" do %>
          <%= image_tag("hotel-concierge-locker-system.jpg", :class => "image", :alt => "pending") %>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- end projects here -->
  </section>

  <div class="hr"></div>
  <section id="writing">
    <div class="gallery">
      <ul>
        <li><%= link_to '/', :class => "image", target: "_blank" do %>
          <%= image_tag('Villwock_ODM.png', :alt => "this site") %>
          <% end %>
        </li>
        <li>
          <h3>This Site</h3>
          <p>Personal website and blogging platform.</p>
        </li>
      </ul>
    </div>
    <!-- end writing here -->
  </section>

  <div class="hr"></div>
  <section id="contact">
    <div class="gallery">
      <p>Hollatchaboi</p>
    </div>
  </section>

  <!-- <div class="hr"></div>
  <section class="credits">
    <p>
      <i class="fa fa-copyright">Matt Villwock 2015</i>
    </p>
  </section> -->
</div>